name: dependabot-autofix

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: write

jobs:
  autofix:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Generate Terraform docs
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          find-dir: infrastructure
          recursive: "true"
          output-method: inject
          output-file: README.md
          fail-on-diff: "false"

      - name: Amend commit and push changes
        shell: bash
        run: |
          set -euo pipefail
          if git diff --quiet; then
            echo "No changes after tooling."
            exit 0
          fi

          git config user.name "dependabot[bot]"
          git config user.email "49699333+dependabot[bot]@users.noreply.github.com"

          git commit --amend --no-edit
          git push --force-with-lease
